
<div class="row mt-sm-4 mt-md-0">
  <div class="col-sm-12 col-md-8 text-sm-center text-md-left">
    <h3>{{ site.title }}</h3>
    <p class="lead">{{ page.title }}<p>
    {{ content }}
  </div>

  <div class="col-sm-12 col-md-4">
    <h3 class="mb-4">Sidebar Menu</h3>
    <ul class="nav flex-column nav-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
  </div>
</div>







